@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.active{
    @apply text-orange-500 underline underline-offset-4;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.pagination li{
    margin: 0px 5px;
    display: inline;
}
.pagination a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 4px;
    text-decoration: none;
    background-color: none;
}
.pagination a:hover{
    background: #eee;
}
.pagination li.activerPagination a{
    background-color: rgb(255, 106, 0);
    color: white;
}
.active-button{
    color: rgb(255, 106, 0);
}